{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
{#    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}
{#{% load staticfiles %}#}
{#    <script type="text/javascript" src="{% static 'dish_app/js/add_product.js' %}"></script>#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'dish_app/css/modal_form.css' %}">#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'dish_app/css/modal_form_product.css' %}">#}
{% load staticfiles %}
<script type="text/javascript">var productlist_to_dish = true</script>
<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <div class="table-responsive ">
                <table  id="table_products" class="table table-bordered">
                    {% for product in products %}
                         <tr>
                            <td>{{ product.name }}</td>
                            <td><input id="count_{{ product.id }}"type="number"></td>
                             <td>{{ product.get_unit_display}}</td>
                            <td><input id="add_to_document_{{ product.id }}" type="image" style="width: 20px;" src="{% static 'base_app/open-iconic-master/svg/data-transfer-upload.svg' %}"
                            onclick="add_product_to_dish('{{ product.id }}')"></td>
                         </tr>
                    {% endfor %}
                     <button id="add_new_product_btn" type="button" class="btn btn-dark"
                     onclick="add_product_script()" value="{% url 'dish_app:new_product' %}">Добавить продукт</button>
                </table>
            </div>
        </div>
    </div>
</div>

