{% load staticfiles %}
{% if not line_number %}
<div class="table-responsive ">
    <table  id="table_dishes" class="table table-bordered">
        {% for dish in dishes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'dish_app:detail_dish' dish.id%}">{{ dish.name }}</a></td>
                <td><input id="count_{{ dish.id }}"></td>
                <td><button id="send_btn" value="{{ dish.id }}" onclick="add_dish_to_document('{{ dish.id }}')">==></button></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% if add_product %}
    <div>
    <button id="add_new_product_btn" type="button" class="btn btn-dark"
    onclick="add_product_script()" value="{% url 'dish_app:new_product' %}">Добавить продукт</button>
    </div>
{% endif %}
    <script>
        var url = '{{ url }}';
        function add_dish_to_document(dish_id) {
            $.ajax({
                url:url ,
                type: 'POST',
                data: {object_id: dish_id, csrfmiddlewaretoken:csrf, document_id:$('#document_id').val(), count:$('#count_'+dish_id).val()},
                cache: true,
                success: function (data) {
                    console.log('OK');
                    console.log(data);
                    $('#table').append(data)
                },
                error: function () {
                    console.log('error')
                }
            })
        }
    </script>
    {{ line_number }}
{% else %}
<tr>
    <td>{{ line_number }}</td>
    <td><a href="{% url 'dish_app:detail_dish' dish.id%}">{{ dish.name }}</a></td>
    <td><input id="count_{{ dish.id }}"></td>
    <td><button id="send_btn" value="{{ dish.id }}" onclick="add_dish_to_document('{{ dish.id }}')">==></button></td>
</tr>
{% endif %}
