{% load staticfiles %}
{% if not line_number %}
<div class="table-responsive ">
    <table  id="table_dishes" class="table table-bordered">
        <tr id="search_fields">
            <th><input style="width: 50px"></th>
            <th><input style="width: 200px"></th>
        </tr>
        {% for dish in dishes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ dish.name }}</td>
                <td><input id="count_{{ dish.id }}" style="width: 50px">
                    <div id="show_remnants"
                              style="   height: 50px;
                                        width: 50px;
                                        position: relative;
                                        left: 0px;
                                        bottom: 0px;
                                        display: none">
                        </div>
                </td>
                {% if product %}
                    <td>{{ dish.get_unit_display }} </td>

                {% endif %}
                <td><button id="send_btn" value="{{ dish.id }}" onclick="add_dish_to_document('{{ dish.id }}')"><img style="width: 20px" src="{% static 'base_app/open-iconic-master/svg/data-transfer-upload.svg' %}"></button></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% if add_product %}
    <div>
    <button id="add_new_product_btn" type="button" class="btn btn-dark"
    onclick="add_product_script()" value="{% url 'dish_app:new_product' %}">Добавить продукт</button>
    </div>
{% endif %}
    <script>
        var url = '{{ url }}';
        function add_dish_to_document(dish_id) {
            $.ajax({
                url:url ,
                type: 'POST',
                data: {object_id: dish_id, csrfmiddlewaretoken:csrf, document_id:$('#document_id').val(), count:$('#count_'+dish_id).val()},
                cache: true,
                success: function (data) {
                    console.log('OK');
                    console.log(data);
                    $('#table').append(data);
                        $('#table tr').each(function () {
                        $(this).find('#id_data').prop('disabled', 'true');
                        $(this).find('#id_count').prop('disabled', 'true');
                            });
                },
                error: function () {
                    console.log('error')
                }
            })
        }
    </script>
    <script type="text/javascript" src="{% static 'dish_app/js/table_search.js' %}"></script>
    <script> table_search('table_dishes')</script>
    {{ line_number }}
{% else %}
<tr>{{ document_type }}
    <td>{{ line_number }}</td>
    <td><a href="{% url 'dish_app:detail_dish' dish.id%}">{{ dish.name }}</a></td>
    <td><input id="count_{{ dish.id }}" style="width: 50px"></td>
    <td>{{ dish.get_unit_display }}</td>
    <td><button id="send_btn" value="{{ dish.id }}" onclick="add_dish_to_document('{{ dish.id }}')"><img style="width: 20px" src="{% static 'base_app/open-iconic-master/svg/data-transfer-upload.svg' %}"></button></td>
</tr>
{% endif %}
