{% extends 'base_app/base.html' %}
{% load staticfiles %}
{% block body %}
    <script type="text/javascript" src="{% static 'documents_app/js/detail_document.js' %}"></script>

    <input hidden id="document_id" value="{{ document_id }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ">
                <form id="document_detail_form" method="post" enctype="multipart/form-data"
                      action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p><button id="save_document_btn" type="submit" >Сохранить</button></p>
                </form>
            </div>
            {% if not new and products != None%}
                {% include 'documents_app/detail_document_product_or_dish.html' with datas=productsInDocument document_id=document_id  document_type=document_type%}
            {% elif not new and dishes != None %}
                {% include 'documents_app/detail_document_product_or_dish.html' with datas=dishesInDocument document_id=document_id  document_type=document_type %}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'base_app/js/django_form.js' %}"></script>
    <script>bootstrap_form('#document_detail_form')</script>
    <script type="text/javascript">
        var date_field = $('#id_date');
        var date_field_value = date_field.val();
        date_field.prop('type', 'date');
        console.log(date_field_value.substring(2,3));
        if (date_field_value.substring(2,3) == '.'){

            date_field.val(date_field_value.substring(6)+'-'+date_field_value.substring(3,5)+'-'+date_field_value.substring(0,2))
        }

    </script>

{% endblock %}